.scb {
    position: relative;
    min-width: 400px;
}

.scb__label {
    font-weight: 500;
    margin-bottom: 8px;
}

.scb__main {
    display: flex;
    border: 1px solid var(--clr-t-border);
    border-radius: 4px;
}

.main__selected {
    flex: 1;
    align-items: center;
    max-height: 125px;
    transform: translate3d(0, 0, 0);
    background-color: #fff;
    border-radius: 4px;
}

.selected__input {
    height: 26px;
    flex-grow: 1;
    flex-basis: 50px;
    margin: 4px 0px;
}

.selected__input input {
    width: 100%;
    height: 100%;
    outline: unset;
    border: unset;
    padding: 0px 12px; 
}

.main__action {
    display: flex;
}

.btn__add {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #fff;
}

.btn__add:hover {
    background-color: var(--clr-t-border);
}

.btn__dropdown:hover {
    background-color: var(--clr-t-border);
}

.btn__dropdown {
    width: 40px;
    border: unset;
    border-left: 1px solid var(--clr-t-border);
    outline: unset;
    background-color: #fff;
    cursor: pointer;
    border-radius: 0px 4px 4px 0px;
}

.scb__table {
    position: absolute;
    top: 100%;
    max-height: 308px;
    display: flex;
    flex-direction: column;
    border: 1px solid #babec5;
    border-radius: 4px;
    background-color: #fff;
    padding-bottom: 8px;
}

.t__header {
    background-color: #f4f5f8;
    width: max-content;
    border-radius: 4px 4px 0px 0px;
}

.t__header th {
    padding: 10px;
}


.table__content {
    overflow: auto;
    padding: 8px 0px 0px 6px;
    background-color: #fff;
}

.table__content

.t__content {
    width: 100%;
    border-collapse: collapse;
}


.t__content td {
    padding : 10px 0px;
}

.td__text {
    max-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 8px;
}

.t__content tr {
    border-radius: 4px;
}

.t__content tr .no__data {
    padding: 10px 12px;
}

.t__content tr:not(:has(.no__data)):hover {
    background-color: var(--clr-lg100);
    cursor: pointer;
}

.t__content tr:not(:has(.no__data)).selected {
    background-color: var(--clr-lg100);
}

.t__content tr td:first-child {
    border-radius: 4px 0px 0px 4px;
}

.t__content tr td:last-child {
    border-radius: 0px 4px 4px 0px;
}



/* .t__content tr:hover {
    background-color: var(--clr-t-border);
    cursor: pointer;
} */

.t__content tr.selected .td__check {
    display: block;
}

::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
}

.table__content::-webkit-scrollbar {
    width: 9px;
    background-color: #fff;
}

.table__content::-webkit-scrollbar-thumb {
    background-color: var(--clr-t-border);
    border-radius: 4px;
    height: 100px;
}

.td__check {
    display: none;
    width: 16px;
    height: 16px;
    background: url(../../../../../assets/img/Sprites.64af8f61.svg) no-repeat -1225px -360px;
}

.scb:not(.error-noti) .scb__main:has(input:focus) {
    border: 1px solid var(--clr-lg500);
}

.scb:not(.error-noti):has(.active) .scb__main {
    border: 1px solid var(--clr-lg500);
}

.align--left {
    text-align: left;
}

.text--bold {
    font-weight: 500;
}
