.color-green {
    color: #50b83c;
    font-weight: bold;
}

.color-red {
    font-weight: bold;
    color: #de3618;
}

.color-orange {
    font-weight: bold;
    color: #f49342;
}

.color-blue {
    font-weight: bold;
    color: #009eeb;
}