.mcombobox {
    position: relative;
    display: flex;
    align-items: center;
    // width: 300px;
    border: 1px solid var(--border-input-color);
    box-sizing: border-box;
    border-radius: 4px;

    .mcombobox__input {
        height: 36px;
        width: 100%;
        padding: 0 12px;
        box-sizing: border-box;
        flex: 1;
        outline: none;
        border: unset;

        border-radius: 4px 0px 0px 4px;
    }

    &:has(.mcombobox__input:focus) {
        outline: 1px solid #50b83c;
    }

    .mcombobox__button {
        height: 36px;
        width: 36px;
        border: unset;
        border-left: 1px solid var(--border-input-color);
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0px 4px 4px 0px;
    }

    .mcombobox__data {
        box-shadow: 0px 0px 6px 0px rgba(119, 118, 118, 0.72);
        user-select: none;
        display: block;
        background-color: #fff;
        position: absolute;
        top: 100%;
        width: 100%;
        border: 1px solid var(--border-input-color);
        box-sizing: border-box;
        row-gap: 4px;
        padding: 8px;
        overflow-y: auto;
        border-radius: var(--border-radius);
        z-index: 1;

        .mcombobox-item {
            height: 36px;
            border-radius: var(--border-radius);
            display: flex;
            align-items: center;
            padding: 0 8px;
            justify-content: space-between;

            &:hover {

                background-color: #50b83c1a;
            }

        }

        .--selected {
            background-color: #50b83c1a;
        }
    }
}