/* Loader container */

.loader__container {
    height: 100%;
  }
  
  .tablebox {
    border: 1px solid var(--clr-t-border);
    border-bottom: unset;
    width: 100%;
    min-height: 200px;
    flex: 1;
    margin-top: 12px;
    max-width: 100%;
    overflow: auto;
    position: relative;
    transform: translate3d(0, 0, 0);
  }
  
  .tablebox::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
  }
  
  .tablebox::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  .tablebox::-webkit-scrollbar-thumb {
    background-color: var(--clr-t-border);
  }
  
  .m-table {
    min-width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: separate;
    transform: translate3d(0, 0, 0);
    user-select: none;
    position: relative;
  }
  
  td {
    border-left: none;
    border-top: none;
    border-bottom: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
    height: 48px;
    padding: 0 12px;
  }

  td div {
    max-width: 240px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }


  td:nth-last-child(2),:last-child {
    border-right: unset;
  }


  th {
    border-bottom: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
    height: 48px;
    padding: 0 12px;
    background-color: #e5e8ec;
    position: sticky;
    top: 0px;
    z-index: 6;
  }

  th:nth-last-child(2),:last-child {
    border-right: unset;
  }

  
  
  
  tbody tr {
    background-color: #fff;
  }

  
  .th1--sticky {
    position: sticky;
    left: 0px;
    z-index: 9;
  }
  
  .thn--sticky {
    position: sticky;
    right: 0px;
    z-index: 9;
    border-left: 1px solid #c7c7c7;
  }
  
  .td1--sticky {
    position: sticky;
    left: 0px;
    background-color: inherit;
    z-index: 4;
  }
  
  .tdn--sticky {
    position: sticky;
    right: 0px;
    background-color: inherit;
    border-left: 1px solid #c7c7c7;
    z-index: 4;
  }
  
  .t__optionbox {
    display: flex;
  }
  
  .t__optionbox button {
    background-color: transparent;
    cursor: pointer;
  }
  
  .actions-list {
    position: absolute;
    border: 1px solid var(--clr-t-border) !important;
    list-style-type: none;
    top: 36px;
    width: 130px;
    right: 5px;
    background-color: #fff;
    /* z-index: 5; */
  }
  
  .action-list--top {
    top: unset;
    bottom: 38px;
  }
  
  .actions-list > li:hover {
    background-color: var(--clr-t-border);
    color: var(--clr-lg500);
    cursor: pointer;
  }
  
  .above {
    z-index: 5;
  }
  
  .btn__expand {
    margin-left: 5px;
    border:none;
  }

  td.above button.btn__expand {
    border: 1px solid blue;
  }

  .li-data {
    padding: 8px;
  }
  
  .option__edit {
    color: rgb(55, 127, 223);
    border: none;
    font-weight: 500;
  }
  
  /* Table pagination */
  
  .table__pag {
    width: 100%;    
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
    background-color: #fff;
    border: 1px solid var(--clr-t-border);
    left: 0;
    z-index: 20;
  }
  
  .pag__leftside {
    display: flex;
    align-items: center;
  }
  
  .pag__rightside {
    display: flex;
    justify-content: space-between;
    column-gap: 16px;
    align-items: center;
  }
  
  .pag__recordcount {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 0 12px;
    position: relative;
  }
  
  .pag__recordcount span {
    width: 150px;
  }
  
  .record__amount__select {
    width: 100%;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.399);
    position: absolute;
    left: 0;
    bottom: 32px;
  }
  
  .record__amount__select > ul {
    list-style-type: none;
  }
  
  .record__amount__option {
    height: 36px;
    line-height: 36px;
    padding-left: 8px;
    background-color: #fff;
    cursor: pointer;
  }
  
  .amount--selected {
    color: #fff;
    background-color: var(--clr-lg500);
  }
  
  .pag__prev {
    cursor: pointer;
    border-radius: 4px;
  }
  .pag__next {
    cursor: pointer;
    border-radius: 4px;
  }
  .pag__prev.disabled {
    cursor: not-allowed;
  }
  .pag__next.disabled {
    cursor: not-allowed;
  }
  
  /* Check box */
  
  .t__checkbox {
    border-radius: 4px;
    border: 2px solid gray;
    cursor: pointer;
    text-align: center;
    line-height: 24px;
    background-color: #fff;
    color: #fff;
  }
  
  .t__checkbox.selected {
    border: none;
    background-color: var(--clr-lg400);
  }
  
  /* Animation */
  tbody tr:hover {
    background-color: #f2f9ff;
  }
  
  .record__amount__option:not(.amount--selected):hover {
    background-color: var(--clr-lg200);
  }
  tr.active {
    background-color: #e5f3ff;
  }
  
  td:has(.loading-item) {
    padding: 12px 20px;
  }
  .loading-item {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: #ededed;
    background: linear-gradient(
        to right,
        rgba(100, 100, 100, 0.2) 10%,
        rgba(255, 255, 255, 0) 40%,
        rgba(100, 100, 100, 0.3) 80%
      )
      #ededed;
    background-size: 200% 100%;
    background-position-x: 0%;
    animation: loading;
    animation-duration: 0.5s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes loading {
    100% {
      background-position-x: 80%;
    }
  }
  
  .th__tooltip {
    position: absolute;
    bottom: -32px;
    left: 0px;
    padding: 4px;
    border-radius: 4px;
    width: max-content;
    color: #fff;
    background-color: #393a3d;
    font-weight: 400;
  }
  
  .zindex--8 {
    z-index: 8;
  }
  
  .table__notification {
    position: sticky;
    margin-top: 100px;
    left: 0px;
    padding: 18px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
  }
  
  .noti__img {
    background: url(../../../../../assets/img/nodata.svg) no-repeat 0px 0px;
    width: 132px;
    height: 76px;
  }

  .pag__info {
    min-width: 100px;
    display: flex;
  }
  .info__left {
    min-width: 20px;
  }
  .info__right {
    min-width: 30px;
    display: flex;
    justify-content: center;
  }
  .right__loading{
    width: 2ch;
    height: 18px;
  }
