.head {
    display: flex;
    justify-content: space-between;

    .left {
        display: flex;
        gap: 24px;
        align-items: center;
        padding-left: 24px;

        p span {
            font-weight: bold;
        }

        .cancel-select {
            &:disabled {
                color: #e61d1d7c;
            }

            color: #e61d1d;
            background-color: white;
            font-weight: normal;
            cursor: pointer;
        }

        .link-button {}
    }

    .right {
        display: flex;
        align-items: center;
        gap: 24px;
        padding-right: 24px;

        .input-search {
            position: relative;
            top: 6px;
            width: 230px;
        }

        .icon-container {
            position: relative;

            .icon-reload {
                position: absolute;
            }
        }
    }
}

.body {
    .sticky-table {
        overflow: auto;
        border: 1px solid var(--border-input-color);
        margin: 0px 15px 0px 15px;
        height: calc(100vh - 289px);

        &::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #ccc;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #a7a7a7;
        }

        .table {
            thead {
                tr {
                    th {
                        padding: 0px 12px;

                        &:first-child {
                            z-index: 19;
                        }

                        &:last-child {
                            z-index: 19;
                            right: 0px;
                        }

                        &:nth-child(1) {
                            min-width: 45px;
                        }

                        &:nth-child(2) {
                            min-width: 160px;
                            width: 10%;
                            text-align: left;
                        }

                        &:nth-child(3) {
                            min-width: 250px;
                            width: 25%;
                            text-align: left;
                        }

                        &:nth-child(4) {
                            min-width: 298px;
                            width: 30%;
                            text-align: left;
                        }

                        &:nth-child(5) {
                            min-width: 144px;
                            width: 22%;
                            text-align: left;
                        }

                        &:nth-child(6) {
                            min-width: 120px;
                            width: 20%;
                            text-align: left;
                        }

                        &:nth-child(7) {
                            min-width: 150px;
                        }
                    }
                }
            }

            tbody {
                tr {
                    td {
                        &:first-child {
                            position: sticky;
                            left: 0px;
                            padding: 0px 12px;
                        }


                        &:has(.link-button) {
                            position: sticky;
                            right: 0px;

                            .flex {
                                margin-left: 12px;
                                align-items: center;
                            }

                            .link-button {
                                background-color: rgba(255, 255, 255, 0);
                                margin-right: -24px;
                            }

                            .icon-container {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }

        .table__footer {
            .table__footer--left {
                .table__numrows {}
            }

            .table__footer--right {
                .table__choose-rowcount {
                    cursor: default;

                    .table__maxrow {}
                }

                .table__recordnumber {
                    cursor: default;
                }

            }
        }
    }

}