.input-search {
    --input-width: 100%;
    width: var(--input-width);
    padding-right: 36px;

    .input__text {
        margin-top: 8px;
        margin-bottom: 16px;
        cursor: pointer;
        width: var(--input-width);
        position: relative;

        &:has(.input__text-field:hover) {

            .icon-container,
            .input__text-field {
                background-color: var(--border-input-color);
            }
        }

        .input__text-field {
            border-radius: var(--border-radius);
            border: 1px solid var(--border-input-color);
            border-right: unset;
            box-sizing: border-box;
            font-weight: 400;
            height: 36px;
            width: var(--input-width);
            padding: 0px 0px 0px 12px;
            outline: 0px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;

            &::placeholder {
                font-weight: 400;
                color: #9e9e9e;
            }
        }

        .icon-container {
            position: absolute;
            top: 0px;
            left: var(--input-width);
            box-sizing: border-box;
            width: 36px;
            height: 36px;
            border: 1px var(--border-input-color) solid;
            border-left: unset;
            border-top-right-radius: var(--border-radius);
            border-bottom-right-radius: var(--border-radius);
            background-color: white;

            &:active {
                background-color: var(--border-input-color);
            }
        }

        .input__text-field:focus {
            border-top: 1px solid #50b83c;
            border-left: 1px solid #50b83c;
            border-bottom: 1px solid #50b83c;
            outline: none;
        }

        &:has(.input__text-field:focus) .icon-container {
            border-top: 1px solid #50b83c;
            border-right: 1px solid #50b83c;
            border-bottom: 1px solid #50b83c;
        }
    }
}