.business-process {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 112px);

    user-select: none;

    .business-process__content {
        display: flex;
        flex-direction: row;
        gap: 14px;


        .cash__process {
            min-height: 500px;
            min-width: 688px;

            .cp__header {
                background-color: white;
                border: 1px solid var(--border-color);
                border-bottom: none !important;
                display: flex;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;
                height: 40px;
                font-weight: 700;

            }

            .cp__body {
                background-color: white;
                border: 1px solid var(--border-color);
                min-height: 350px;
                position: relative;
                background-image: url('../../../../public/qt_TienMat.1f64b87b.svg');

                .body__button {
                    min-width: 90px;
                    min-height: 90px;
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .body__button-content {
                        width: 100%;
                        text-align: center;
                        margin-top: 57px;
                    }


                    &:hover {
                        box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
                    }

                    &:nth-child(1) {
                        position: absolute;
                        top: 39px;
                        left: 90px;
                    }

                    &:nth-child(2) {
                        position: absolute;
                        top: 124px;
                        left: 349px;
                    }

                    &:nth-child(3) {
                        position: absolute;
                        top: 212px;
                        left: 90px;
                    }


                }
            }

            .cp__footer {
                margin-top: 14px;
                background-color: white;

                border: 1px solid var(--border-color);
                border-left: none !important;

                min-height: 70px;

                display: flex;

                .footer__button {
                    cursor: pointer;

                    &:hover {
                        box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
                    }

                    min-width: 25%;
                    border-left: 1px solid var(--border-color);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    &:nth-child(1) .button__icon {
                        background: url('../../../../public/Sprites.89360e6c.svg') no-repeat -876px -202px;
                        width: 16px;
                        height: 20px;
                    }

                    &:nth-child(2) .button__icon {
                        background: url('../../../../public/Sprites.89360e6c.svg') no-repeat -930px -202px;
                        width: 20px;
                        height: 20px;
                    }

                    &:nth-child(3) .button__icon {
                        background: url('../../../../public/Sprites.89360e6c.svg') no-repeat -986px -202px;
                        width: 20px;
                        height: 20px;
                    }

                    &:nth-child(4) .button__icon {
                        background: url('../../../../public/Sprites.89360e6c.svg') no-repeat -650px -201px;
                        width: 20px;
                        height: 22px;
                    }


                    .button__content {
                        text-align: center;
                    }
                }
            }
        }

        .cash__report {
            background-color: white;
            min-width: 280px;
            height: 474px !important;

            .cr__header {
                background-color: white;
                border: 1px solid var(--border-color);
                border-bottom: none !important;
                display: flex;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;
                height: 40px;
                font-weight: 700;
            }

            .cr__body {
                border: 1px solid var(--border-color);

                ul {
                    padding: 0 16px;

                    cursor: pointer;

                    li {
                        display: flex;
                        align-items: center;

                        padding: 16px 0;
                        border-bottom: 1px solid #e5e5e5;
                        height: 77px;

                        &:nth-last-child(1) {
                            border: none
                        }

                        &::before {
                            content: "\2022";
                            color: #646464;
                            font-size: 24px;
                            margin-right: 12px;
                        }

                        &:hover {
                            color: #0075c0;
                        }
                    }
                }
            }

            .cr__footer {
                border: 1px solid var(--border-color);
                border-top: none;
                cursor: pointer;

                height: 47px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #0075c0;
            }
        }
    }
}