.mi {
    background: url(../assets/img/Sprites.64af8f61.svg) no-repeat;
    cursor: pointer;
}

.minc {
    background: url(../assets/img/Sprites.64af8f61.svg) no-repeat;
}

.mi-8 {
width: 8px;
height: 8px;
min-width: 8px;
min-height: 8px;
}

.mi-12 {
width: 12px;
height: 12px;
min-width: 12px;
min-height: 12px;
}

.mi-14 {
width: 14px;
height: 14px;
min-width: 14px;
min-height: 14px;
}

.mi-16 {
width: 16px;
height: 16px;
min-width: 16px;
min-height: 16px;
}

.mi-18 {
width: 18px;
height: 18px;
min-width: 18px;
min-height: 18px;
}

.mi-24 {
width: 24px;
height: 24px;
min-width: 24px;
min-height: 24px;
}

.mi-36 {
width: 36px;
height: 36px;
min-width: 36px;
min-height: 36px;
}
/* caprocess icon */

.mi-process-customer {
    background-position: -872px -200px;
}

.mi-process-provider {
    background-position: -928px -200px;
}

.mi-process-employee {
    background-position: -984px -200px;
}

.mi-setting--active {
    background-position: -648px -200px;
}
/* Header icon */

.mi-header-nav {
background-position: -424px -88px;
}

.mi-header-three-line {
background-position: -843px -31px;
}

.mi-header-bell {
background-position: -257px -32px;
}

.mi-header-bell:hover {
    background-position: -787px -30px;
}

.mi-arrow-dropdown-8px {
    background-position: -564px -363px;
}

.rotate-180 {
    transform: rotate(180deg);
}

.mi-arrowdown-small {
background-position: -940px -356px;
}

.mi-arrowdown-small:hover {
    background-position: -940px -355px;
}



.mi-arrowup-small {
    background-position: -940px -356px;
    transform: rotate(180deg);
}

.mi-arrowup--black {
    background-position: -560px -359px;
}

.mi-arrowdown-small:active {
background-position: -940px -355px;
}

.mi-arrowdown {
background-position: -1129px -362px;
}

.mi-arrowdown:hover {
    background-position: -1130px -361px;
}

.mi-arrowup {
background-position: -1129px -362px;
transform: rotate(180deg);
}

.mi-arrowleft {
background-position: -29px -356px;
}

.mi-chevron-left--primary {
background-position: -224px -360px;
}

.mi-arrow-up--white {
background-position: -848px -359px;
}

.mi-arrowleft:not(.disabled):active {
background-position: -29px -355px;
}

.mi-arrowleft.disabled{
background-position: -29px -404px;
}

.mi-arrowright {
background-position: -77px -356px;
}

.mi-arrowright:not(.disabled):active {
background-position: -77px -355px;
}

.mi-arrowright.disabled {
background-position: -77px -404px;
}

.mi-close-small {   
background-position: -80px -312px;   
}
.mi-close-small:active {   
background-position: -79px -311px;   
}

/* Sidebar icon */

.mi-sidebar-dashboard {
background-position: -30px -1628px;
}

.mi-sidebar-cash {
background-position: -73px -1628px;
}

.mi-sidebar-bank {
background-position: -117px -1628px;
}

.mi-sidebar-pu {
background-position: -161px -1628px;
}

.mi-sidebar-sale {
background-position: -204px -1628px;
}

.mi-sidebar-invoice {
background-position: -249px -1628px;
}

.mi-sidebar-stock {
background-position: -291px -1628px;
}

.mi-sidebar-tools {
background-position: -336px -1628px;
}

.mi-sidebar-fixed-assets {
background-position: -378px -1630px;
}

.mi-sidebar-salary {
background-position: -467px -1659px;
}

.mi-sidebar-price {
background-position: -467px -1628px;
}

.mi-sidebar-general {
background-position: -510px -1628px;
}

.mi-sidebar-tax {
background-position: -423px -1630px;
}

.mi-sidebar-report {
background-position: -547px -1628px;
}

.mi-sidebar-finance {
background-position: -204px -1664px;
}

.mi-sidebar-budget {
background-position: -378px -1659px;
}

.mi-sidebar-left-arrow {
background-position: -29px -357px;
}

.mi-sidebar-right-arrow {
background-position: -78px -357px;
}

.mi-sidebar-category {
background-image: url(../assets//img//Sprites.v2.svg);
background-position: -764px -1661px;   
}

.mi-sidebar-opn {
background-image: url(../assets//img//Sprites.v2.svg);
background-position: -854px -1660px;
}

.mi-sidebar-news {
background-image: url(../assets//img//Sprites.v2.svg);
background-position: -548px -1661px;
}

/* Button icon */

.mi-excel {
background-position: -699px -193px;
}

.mi-excel:not(.disabled):hover {
cursor: pointer;
background-position: -699px -249px;
}

.mi-refresh {
background-position: -418px -194px;
}

.mi-refresh:hover {
background-position: -1090px -81px;
}
.mi-refresh:active {
background-position: -1091px -82px;
}

.mi-search {
background-position: -992px -360px;
}

/* Check box */

.mi-checkbox-checked {
background-position: -1223px -360px;
}

/* Table */
.mi-calendar {
background-position: -124px -308px;
}

.mi-calendar:hover {
background-position: -124px -307px;
}

.mi-expand-down {
background-position: -897px -359px;
}

.mi-add--green {
background-position: -34px -314px;
}

.mi-delete {
background-position: -464px -312px;
}
