@import url(../assets/fonts/fontawesome-5.15.1/css/all.min.css);
@import url(./common.css);
@import url(./icon.css);

/* @import url(./components/button.css);
@import url(./components/textfield.css);
@import url(./components/dropdown.css);
@import url(./components/contextmenu.css);
@import url(./components/radio.css);
@import url(./components/combobox.css);
@import url(./components/datepicker.css);

@import url(./patterns/sidebar.css);
@import url(./patterns/dialog.css);
@import url(./patterns/form.css);
@import url(./patterns/data-table.css);
@import url(./patterns/header.css);
@import url(./views/employee-info.css);

@import url(./views/mainpage.css);
@import url(./layouts/pcontent.css); */



* {
    font-family: "Noto sans", sans-serif;
    font-size: var(--fs-default);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    line-height: var(--lh-default);
}
html {
    min-width: 1024px;
    min-height: 768px;
    overflow: hidden;
}

body {
    background-color: #eceef1;
}

a {
    text-decoration: none;
}




:root {
    /*font size */
    --fs-caption: 13px;
    --fs-default: 14px;
    --fs-head3: 16px;
    --fs-head2: 18px;
    --fs-head1: 20px;
    --icon-size: 24px;
    /*line height*/
    --lh-caption: 17px;
    --lh-default: 18px;
    --lh-head3: 20px;
    --lh-head2: 23px;
    --lh-head1: 26px;
    /*text color*/
    --clr-t-bg: #f7f7f7;
    --clr-t-border: #e0e0e0;
    --clr-t-disable: #9e9e9e;
    --clr-t-setext: #666666;
    --clr-t-pritext: #212121;
    --clr-t-title: #000000;
    /*icon color*/
    --clr-i-default: #666666;
    --clr-i-hover: #1fb6ff;
    --clr-i-disable: #666666;
    /*color*/
    --clr-lg50: #EEF8EC;
    --clr-lg100: #DCF1D8;
    --clr-lg200: #B9E2B1;
    --clr-lg300: #96D58A;
    --clr-lg400: #73C663;
    --clr-lg500: #50B83c;
    --clr-lg600: #409330;
    --clr-lg700: #306F24;
    --clr-lg800: #204918;
    --clr--lg900: #10250C;

    /*height*/
    --h-default: 36px;

    /*radius*/
    --border-radius: 4px; 
}




@font-face {
    font-family: "Noto sans";
    src: url('../assets/fonts/notosans-regular.2cb88a13.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Noto sans";
    src: url('../assets/fonts/notosans-semibold.df3e6dc4.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Noto sans";
    src: url('../assets/fonts/notosans-bold.3ede5aff.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Noto sans";
    src: url('../assets/fonts/notosans-italic.1c1aaac9.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: italic;
}
