.txtfield {
  position: relative;
  width: 100%;
}

.txtfield__textbox {
  height: var(--h-default);
  min-width: 120px;
  position: relative;
}

.txtfield__label {
  width: fit-content;
  margin-bottom: 8px;
  font-weight: 500;
}

.txtfield.field--required .txtfield__label::after {
  content: " *";
  color: red;
}

.txtfield__input {
  width: 100%;
  height: 100%;
  border: 1px solid var(--clr-t-border);
  border-radius: var(--border-radius);
  padding: 0 12px 0 12px;
}

.txtfield__input.input-text-right {
    text-align: right;
}

.txtfield__input:hover {
  background-color: var(--clr-t-bg);
}

.txtfield__input:focus {
  outline: none;
  border: 1px solid var(--clr-lg500);
}



.txtfield:not(.error-noti) .txtfield__noti {
  display: none;
}

.txtfield__noti {
  /* margin-top: 8px; */
  overflow: hidden;
  text-overflow: ellipsis;
  color: red;
  max-height: 16px;
  font-size: 11px;
  position: absolute;
  top: 40px;
}

/* Error */

.error-noti .txtfield__input {
  border: 1px solid red;
}

/* Validate */

.txtfield--validate .txtfield__input {
  border: 1px solid var(--clr-lg500);
  padding-right: 36px;
}

.txtfield--validate .txtfield__icon {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background: url("../../../assets/img/Sprites.64af8f61.svg");
  background-repeat: no-repeat;
  background-position: -893px -406px;
}

/* Verifying */
.txtfield--verifying .txtfield__input {
  padding-right: 36px;
  border: 1px solid var(--clr-lg500);
}

.txtfield--verifying .txtfield__icon {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background: url("../../../assets/loading.svg");
  background-size: contain;
}

/* Search */

.txtfield--search .txtfield__input {
  padding-right: 36px;
}

.txtfield--search .txtfield__icon {
  width: 36px;
  height: 36px;
  position: absolute;
  border-radius: 0 4px 4px 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url("../../../assets/img/Sprites.64af8f61.svg");
  background-repeat: no-repeat;
  background-position: -614px -24px;
}

/* .txtfield--search .txtfield__icon:hover {
  cursor: pointer;
}

.txtfield--search .txtfield__icon:active {
  background-color: var(--clr-t-border);
} */

/* Tooltip */
.txtfield__tooltip {
  background-color: #393a3d;
  position: absolute;
  z-index: 1;
  left: -10px;
  border-radius: 4px;
  color: #fff;
  width: fit-content;
  padding: 2px 4px;
}
